.header {
    padding: 20px 40px;
}

.wide {
    max-width: 1200px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
}

.item {
    font-size: 20px;
    a {
        &:link {
        color: #000;
        text-decoration: none;
        }
        &:visited {
            color: #000
        }
        &:hover{
            color: #888;
            text-decoration: underline;
        }
    }
}