.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem;
  padding-inline-start: 0;
}

.item {
  width: 100%;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}
